* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.drikkevarer {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  gap: 20px;
  justify-items: center;
  padding-top: 40px;
}
.drikkevarer img {
  width: 20%;
  height: auto;
  border: 3px solid black;
  padding: 20px;
  margin: 0 auto;
}
